.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background-color: #fffbea;
  flex-wrap: wrap; /* чтобы элементы переносились */
}

.hero__content {
  max-width: 600px;
  flex: 1 1 300px;
}

.hero__title {
  font-size: 40px;
  font-weight: 700;
  color: #256030; 
  margin-bottom: 20px;
}

.hero__text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
  color: #333;
}

.hero__img-box {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex: 1 1 200px;
}

.hero__img {
  width: 250px;
  height: auto;
}

@media (max-width: 992px) {
  .hero__title {
    font-size: 32px;
  }

  .hero__img {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .hero__container {
    flex-direction: column; /* картинки вниз */
    text-align: center;
  }

  .hero__content {
    max-width: 100%;
    flex: 1 1 200px;
  }

  .hero__img-box {
    margin-top: 20px;
  }

  .hero__img {
    width: 220px; /* уменьшаем */
  }
}

@media (max-width: 480px) {
  .hero__title {
    font-size: 24px;
  }

  .hero__text {
    font-size: 16px;
  }

  .hero__img {
    width: 162px;
  }
}
