body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 42px;
  font-weight: 700;
  color: #256030; /* тёмно-зелёный */
  text-align: center;
  margin-bottom: 40px;
}

.btn {
  background-color: #256030;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  
}



.btn:hover {
  background: #2f7540;
  transform: translateY(-2px);
}